{% extends 'index/base.html' %}
{% load static %}

{% block title %}Reset password{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/css/reset_password.css' %}">
{% endblock %}
    
{% block body %}
    <section id="section-1">
        <div class="container">
            <div class="flex-item-container">
                <div class="flex-item">
                    <h2>RESETAR SENHA</h2>
                </div>
                <form action="" method="post" id="form-login">
                    {% csrf_token %}
                    <span>Nova senha</span>
                    <div class="flex-item">
                        <i class="fa-solid fa-key"></i>
                        <input type="password" name="password1" id="password1" placeholder="Digite uma nova senha" minlength="8" maxlength="64" required>
                        <span id="password1-message" class="msg-error-text"></span>
                    </div>
                    <span>Confirmar senha</span>
                    <div class="flex-item">
                        <i class="fa-solid fa-key"></i>
                        <input type="password" name="password2" id="password2" placeholder="Confirme a nova senha" minlength="8" maxlength="64" required>
                        <span id="password2-message" class="msg-error-text"></span>
                    </div>
                    <input id="btn-reset-password" type="submit" value="Redefinir senha">
                    <div class="g-recaptcha"
                        data-sitekey="YOURKEY"
                        data-callback="resetPassword"
                        data-size="invisible">
                    </div>
                </form>
                <div class="flex-item">
                    <span>Já tem uma conta? <a href="{% url 'login' %}">Fazer login</a></span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'accounts/js/reset_password_final.js' %}"></script>
{% endblock %}