{% extends 'index/base.html' %}
{% load static %}

{% block title %}Reset password{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/css/reset_password.css' %}">
{% endblock %}
    
{% block body %}
    <section id="section-1">
        <div class="container">
            <div class="flex-item-container">
                <div class="flex-item">
                    <h2>RESETAR SENHA</h2>
                </div>
                <form action="" method="post" id="form-login">
                    {% csrf_token %}
                    <span>E-mail</span>
                    <div class="flex-item">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" name="email" id="email" placeholder="Digite seu e-mail" minlength="5" maxlength="50" required>
                        <span id="email-message" class="msg-error-text"></span>
                    </div>
                    <div id="captcha-reset-password"></div>
                    <input type="submit" value="Redefinir senha">
                </form>
                <div class="flex-item">
                    <span>Já tem uma conta? <a href="{% url 'login' %}">Fazer login</a></span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=createCaptcha&render=explicit" async defer></script>
    <script src="{% static 'accounts/js/reset_password.js' %}"></script>
{% endblock %}