<section id="section-common-questions">
    <div class="container">
        <div class="flex-item">
            <h3>Perguntas Frequentes</h3>
            <p>Veja abaixo as duvidas mais frequentes dos usuários e anunciantes sobre a plataforma</p>
        </div>
        <div class="flex-item-container">
            <div class="flex-item">
                <div class="flex-title">
                    <i class="fa-solid fa-circle-question"></i>
                    <h4>Como funciona?</h4>
                </div>
                <p>Basta abrir uma conta clicando <a href="{% url 'register' %}" style="color: var(--roxo-principal);">aqui</a> e então começar a clicar nos anúncios disponibilizados. Você receberá R$ {{context.free_plan_click_price.click_price}} por cada clique.</p>
            </div>
            <div class="flex-item">
                <div class="flex-title">
                    <i class="fa-solid fa-circle-question"></i>
                    <h4>Qual o valor mínimo para retirada?</h4>
                </div>
                <p>O valor mínimo para retirada é de R$ 100,00 reais. Os métodos de retirada disponíveis são através do PicPay, PayPal ou Pix.</p>
            </div>
            <div class="flex-item">
                <div class="flex-title">
                    <i class="fa-solid fa-circle-question"></i>
                    <h4>Posso ter mais de uma conta?</h4>
                </div>
                <p>O e-mail utilizado no cadastro será atribuido em apenas uma única conta. O aconselhamos que foque em clicar nos anúncios para que receba a sua parte o mais rápido possível.</p>
            </div>
            <div class="flex-item">
                <div class="flex-title">
                    <i class="fa-solid fa-circle-question"></i>
                    <h4>Qual o prazo de processamento de retirada de pagamento?</h4>
                </div>
                <p>Poderá levar até 3 meses para que o saque seja totalmente processado e creditado na conta cadastrada.</p>
            </div>
            <div class="flex-item">
                <div class="flex-title">
                    <i class="fa-solid fa-circle-question"></i>
                    <h4>Receberei o pagamento realmente?</h4>
                </div>
                <p>Na sessão acima alguns de nossos usuários deixaram seus feedbacks sobre a plataforma. Role o mouse para cima e dê uma olhada.</p>
            </div>
        </div>
    </div>
</section>